.beer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 80vw;
  opacity: 0;
}

.beer button {
  width: calc(50px + 1vw);
  border: none;
  background: none;
}

.beer h1 {
  text-align: center;
  max-width: 60vw;
}

.image {
  margin-left: 1vw;
  position: relative;
  width: 50px;
  height: 150px;
  padding: 0.5rem;
  border-radius: 20px;
}

.showInfo {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}

.showInfo a {
  text-decoration: none;
  font-size: calc(10px + 1vw);
  color: white;
  background: rgb(181, 144, 8);
  border: 2px solid rgb(181, 144, 8);
  border-radius: 20px;
  padding: 0.5rem;
}

.showInfo a:hover {
  background: none;
  color: rgb(53, 43, 43);
  border: none;
  transition: 0.5s;
}

@media (prefers-color-scheme: dark) {
  .showInfo a {
    color: white;
    background: rgb(181, 144, 8);
    border: 1px solid rgb(181, 144, 8);
  }

  .showInfo a:hover {
    color: white;
    background: #091b1a;
  }

  .image {
    background: white;
    border: 1px solid rgb(181, 144, 8);
  }
}

@media screen and (max-width: 1000px) {
  .beer h1 {
    font-size: calc(15px + 2vw);
    text-align: center;
    max-width: 30vw;
  }
}
