.beers {
    animation: slideUp 0.5s ease-in-out;
}

.beers ul {
    list-style: none;
    padding-left: 0;
}

@keyframes slideUp {
    0% {
      transform: translateY(100vh);
    }
    100% {
      transform: translateY(0);
    }
  }