.about {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideLeft 0.5s ease-in-out;
}

.about ul {
    padding-left: 15px;
}

.about li {
    font-size: larger;
    margin: 4px;
}

@media screen and (max-width: 1000px) {
    .about {
        width: 90vw;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}