html,
body {
  min-width: 380px;
  color: rgb(37, 5, 5);
  background: rgb(231, 230, 230);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

h1 {
  letter-spacing: -1px;
  font-size: calc(20px + 2vw);
  color: rgb(37, 4, 4);
}

h2 {
  letter-spacing: -1px;
  font-size: calc(15px + 1.5vw);
}

p {
  letter-spacing: -1px;
  font-size: calc(10px + 1vw);
  color: rgb(53, 43, 43);
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

.main {
  overflow: hidden;
  min-height: 100vh;
  min-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slideUp {
  animation: slideUp 1s ease-in-out;
}

.slideDown {
  animation: slideDown 0.5s ease-in-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(500%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(247, 233, 233);
    background: #091B1A;
  }
  h1 {
    color: rgb(247, 233, 233);
  }
  p {
    color: rgb(219, 207, 207);
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: calc(20px + 3vw);
  }
  p {
    font-size: calc(10px + 2vw);
  }
}

